.contenedor {
  background-color: var(--azul-medio);
  height: 100vh;
  display: flex;
  gap: 38px;
  padding: 20px;
  align-items: center;
}

.contenedorPrincipal {
  background-color: var(--azul-oscuro-fondo);
  border-radius: 40px;
  padding: 35px;
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.menu {
  display: none;
}

.logo {
  width: 310px;
  height: 70px;
}

.contenedorMenu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background-color: black;
  opacity: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.ia{
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.chat{
   background-color: var(--azul-medio);
   height: 72vh;
   width: 30vw;
   border-radius: 15px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 20px;
   gap: 20px;
}
.escribir{
  display: flex;
  width: 100%;
  gap: 10px;
}
.input{
  align-self: flex-end;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
}

.contenedorTexto{
   background-color: var(--azul-oscuro-fondo);
   height: 100%;
   width: 100%;
   border-radius: 15px;
}

.boton{
  align-self: flex-end;
    background-color: var(--rojo-vibrante);
    color: white;
    font-family: var(--titulos);
    border: none;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.boton:hover{
    background-color: #fc4444;
}

.respuesta{
  background-color: var(--azul-medio);
   height: 72vh;
   width: 70%;
   border-radius: 15px;
}

@media (max-width: 768px) {
  .contenedor {
    gap: 0;
  }
  .nav {
    position: absolute;
    z-index: 10;
    background-color: var(--azul-medio);
    top: 0;
    left: 0;
    height: 100%;
    padding-top: 100px;
    padding-right: 20px;
  }
  .contenedorPrincipal {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
  }
  .menu {
    display: block;
    width: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .logo {
    width: 240px;
    height: 56px;
  }
  .visible {
    transform: translateX(0);
  }

  .hidden {
    transform: translateX(-100%);
  }
  .contenedorHistorial {
    display: flex;
    flex-direction: column;
  }
}
